@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #B98D3E;
  color: #0B0B0C;
}

body {
  background-color: #F7F3EC;
  color: #0B0B0C;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
